
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="~/css/login/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/css/login/demo.css" />
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="~/css/login/component.css" />
    <!--[if IE]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <div class="logo_box" >
                    <h3>注&nbsp;&nbsp;&nbsp;册</h3>
                    <form method="post" asp-action="Register" asp-controller="Home">
                        <div class="input_outer">
                            <span class="u_user"></span>
                           <input class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账号" name="userid">
                            <span ></span>
                        </div>
                        <div class="input_outer">
                            <span class="u_user"></span>
                            <input class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入用户名" name="username">
                        </div>
                        <div class="input_outer">
                            <span class="us_uer"></span>
                            <input class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" type="password" placeholder="请输入密码" name="password">
                        </div>
                        <div class="input_outer">
                            <span class="us_uer"></span>
                            <input name="logpass" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" type="password" placeholder="请重复密码">
                        </div>
                        <div class="input_outer">
                            <!-- <span class="us_uer"></span> -->
                            <div style="position: absolute;margin: 13px 80px">
                                <input type="radio" name="rode" value="学生"><a style="color:#A9A9A9;">学生</a>
                                <input type="radio" name="rode" value="教师" style="margin-left: 50px;"><a style="color:#A9A9A9;">教师</a>
                            </div>
                        </div>
                        <div class="mb2">
                            <input type="submit" value="注册" class="act-but submit" style="color: #FFFFFF;opacity:0.9;width:330px;height:50px;align-self:center " /></div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /container -->
    <script src="~/js/login/TweenLite.min.js"></script>
    <script src="~/js/login/EasePack.min.js"></script>
    <script src="~/js/login/rAF.js"></script>
    <script src="~/js/login/demo-1.js"></script>
    <div style="text-align:center;">
    </div>
</body>
</html>
